/*  -------------------------------------------------
  Нестандартные шрифты
  ------------------------------------------------- */
@charset "UTF-8";
@font-face {
  font-family: 'NeoSans';
  src: url("fonts/neosanscyrregular.woff") format("woff"), url("fonts/neosanscyrregular.ttf") format("truetype"), url("fonts/neosanscyrregular.svg#neosanscyrregular") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'NeoSans';
  src: url("fonts/neosanscyrmedium.woff") format("woff"), url("fonts/neosanscyrmedium.ttf") format("truetype"), url("fonts/neosanscyrmedium.svg#neosanscyrmedium") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*  -------------------------------------------------
  Базовые стили сайта | Base site styles
  ------------------------------------------------- */
body {
  font: 16px/19px 'NeoSans', sans-serif;
  background: #FFF;
  color: #555555;
  min-width: 970px;
  /*overflow: hidden;*/
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust:100%;
}

a { color:#03f; text-decoration:none;  }
a:hover { text-decoration:underline; }
a.ajax-link {
  text-decoration:none;
  border-bottom:1px dashed;
}

p { margin-bottom:15px; }

h1 {text-transform: uppercase; font-size: 50px;}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

.w {color: #fff !important;}

input[type=text], input[type=password] {
  border: 1px solid #cbd7df;
  width: 245px;
  height: 37px;
  padding: 5px 15px;
  background: #FFF;
  color: #a0abb3;
  font: normal normal 16px/25px 'NeoSans', Tahoma, sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input[type=text].error, input[type=password].error {
  border: 1px solid #FF0000;
}

.tel {
  font: 24px 'NeoSans', sans-serif;
}
.tel_bottom {
  font: 30px 'NeoSans', sans-serif;
}

.email a
{
  color: #555;
}

.send {
  font: normal normal 15px 'NeoSans', Tahoma, sans-serif;
}

.l1 { 
  background: #1DBDEF;
  border: 2px dashed #fff;
border-left: none;
border-right: none;

	}
.l2-1 {}
.l2-2 { 
	height: 67px; 
	background: url(images/l2_bg2.gif) center no-repeat;
	background-color: #f0f3f5; }
.l2-3 { 
	height: 115px; 
	background-color: #f0f3f5; }
.l3 { 
	height: 430px;
	background-color: #1FBEEF;
  background: url(images/bgl3.png);
  border: 2px dashed #fff;
border-left: none;
border-right: none;
	}
.l4 { }
.l5 { }
.l6 { }
.l7 { }
.l10 {background-color: #f6f6f6;}




.maintitle {
  color: #fff;
  font: 70px 'NeoSans', sans-serif;
  line-height: 70px;
  }
  
.title {
  color: #555555;
  font: 50px 'NeoSans', sans-serif;
  display: inline-block;
margin: 20px 0 20px 0;
  }

.subtitle {
  color: #fff;
  font: 35px 'NeoSans', sans-serif;
  }
  
.text20 {
  color: #222;
  font: 20px 'NeoSans', sans-serif;
  }

.btn-green {
  text-align: center;
  color: #fff;
  width: 175px;
  height: 40px;
  font: normal normal 18px 'NeoSans', Tahoma, sans-serif;
  border-top: 0px solid #FFDC9A;
  border-left: 0px solid #EFCA6A;
  border-right: 0px solid #F2CD74;
  border-bottom: 4px solid #72A506;
 background: #80bc01;
 cursor: pointer;
}

.btn-blue {
  text-align: center;
  color: #FFF;
  width: 243px;
  height: 38px;
  font: normal normal 15px 'NeoSans', Tahoma, sans-serif;
  border-top: 0px solid #FFDC9A;
  border-left: 0px solid #EFCA6A;
  border-right: 0px solid #F2CD74;
  border-bottom: 0px solid #D2A405;
  background: url(images/button_blue_bg.gif) 0 0 no-repeat;
}


.btn-green-wrap:hover .btn-green,
.btn-green:hover {
  text-decoration: none;
  border-bottom: 4px solid #fc7180;
  border-top: 0px solid #D2A405;
}
.no-cssgradients .btn-green-wrap:hover .btn-green,
.no-cssgradients .btn-green:hover { background-position: 0 bottom; }
.btn-green-wrap {
    display: block;
    border: none;
    width: 236px;
    margin: 25px auto 0;
    border-radius: 5px;
    padding: 4px 8px 6px;
    background: rgba(255,255,255,0.5);
  }
.no-rgba .btn-green-wrap { background: url(images/bg-write-transparent50.png) 0 0 repeat; }
.btn-green-wrap:hover { text-decoration: none; }

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 100;
}
.no-rgba .overlay { background: url(images/black-bg-transparent60.png) 0 0 repeat;}
.input-wrap { position: relative; display: inline-block; }
.input-error {
  display: none;
  top: -36px;
  left: 20px;
  font: 16px/19px "NeoSans",Tahoma,sans-serif;
  color: #000;
  white-space: nowrap;
  position: absolute;
  padding: 5px 10px;
  background: #FFF;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  z-index: 50;
}
.input-error:before,
.input-error:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid #FFF;
}
.input-error:before {
  left: 19px;
  bottom: -12px;
  border: 6px solid transparent;
  border-top: 6px solid #e2e2e2;
}
.partners
{
  display: inline-block;
margin-bottom: 30px;
}
.partners img
{
  height: 100px;
  float: left;
  margin-right: 30px;
}

.partners h1
{
  font-size: 25px;
margin-top: 30px;
margin-bottom: 30px;
}
.sertif
{
   display: inline-block;
margin-bottom: 30px;
width: 950px;
}

.sertif h1
{
  font-size: 25px;
margin-top: 30px;
margin-bottom: 30px;
}

/*---------------TECH----------------*/
.col-1-12 {
  width: 80px;
  padding: 0 20px; }

.col-2-12 {
  width: 160px;
  padding: 0 20px; }

.col-3-12 {
  width: 240px;
  padding: 0 20px; }

.col-4-12 {
  width: 320px;
  padding: 0 20px; }

.col-5-12 {
  width: 400px;
  padding: 0 20px; }

.col-6-12 {
  width: 480px;
  padding: 0 20px; }

.col-7-12 {
  width: 560px;
  padding: 0 20px; }

.col-8-12 {
  width: 640px;
  padding: 0 20px; }

.col-9-12 {
  width: 720px;
  padding: 0 20px; }

.col-10-12 {
  width: 800px;
  padding: 0 20px; }

.col-11-12 {
  width: 880px;
  padding: 0 20px; }

.col-12-12 {
  width: 960px;
  padding: 0 20px; }

#tech {
  /*background: #f8f5f0;*/
  padding: 2em 0 1em 0;
  position: relative; }
  #tech h3, #tech h4 {
    font-weight: 400;
    margin-bottom: 0;
    color: #3e3f3a; }
  #tech h3 {
    font-weight: 100; 
font-size: 50px;
text-align: center;
  }
  #tech h4 {
    margin: 1em 0 2em; 
font-size: 1.6em;
line-height: 1.3em;
text-align: center;
  }
  #tech .layers {
    width: 90%;
    max-width: 480px;
    margin: 0 auto;
    pointer-events: none;
    display: none; }
    #tech .layers img {
      width: 100%; }
  #tech .explanation {
    width: 960px;
    margin: 0 auto;
    position: relative;
    height: 743px;
    counter-reset: layers;
    z-index: 4; }
    #tech .explanation article {
      counter-increment: layers;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      #tech .explanation article p {
        margin-left: 10px;

color: #757575; 

      }
      #tech .explanation article img {
        margin: 0 auto;
        display: block;
        position: relative;
        left: 15px; }
      #tech .explanation article h5 {
        font-size: 1.1em;
        line-height: 1.6em;
        display: inline-block;
        margin: 0;
        padding: 0 20px 0 0;
        position: relative;
        z-index: 3; }
        #tech .explanation article h5:before {
          content: "Layer " counter(layers);
          font-size: .8em;
          line-height: 1.6em;
          font-weight: normal;
          color: #fff;
          background: #5d6163;
          display: inline-block;
          padding: 8px 10px 6px;
          margin-right: 10px;
          position: relative;
          top: -4px;
          left: -4px; }
      #tech .explanation article div:before {
        z-index: 2;
        pointer-events: none; }
      #tech .explanation article div:after {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        border: 2px solid #f8f5f0;
        margin-left: -8px;
        z-index: 1;
        pointer-events: none; }
    #tech .explanation article:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3; }
      #tech .explanation article:nth-child(1) img {
        top: 115px; }
      #tech .explanation article:nth-child(1) div {
        position: absolute;
        top: 0;
        right: 0; }
        #tech .explanation article:nth-child(1) div h5 {
          background: #c9d0d5;
          color: #5d6163;
          position: relative; }
        #tech .explanation article:nth-child(1) div:before {
          content: "";
          height: 204px;
          position: absolute;
          display: block;
          border-left: 2px solid #c9d0d5; }
        #tech .explanation article:nth-child(1) div:after {
          top: 194px;
          background: #c9d0d5; }
    #tech .explanation article:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2; }
      #tech .explanation article:nth-child(2) img {
        top: 195px; }
      #tech .explanation article:nth-child(2) div {
        position: absolute;
        top: 0;
        left: 0; }
        #tech .explanation article:nth-child(2) div h5 {
          background: #29abe1;
          color: #fff; }
          #tech .explanation article:nth-child(2) div h5:before {
            background: #325d88; }
        #tech .explanation article:nth-child(2) div:before {
          content: "";
          height: 384px;
          width: 160px;
          position: absolute;
          display: block;
          border-left: 2px solid #29abe1;
          border-bottom: 2px solid #29abe1; }
        #tech .explanation article:nth-child(2) div:after {
          top: 384px;
          left: 184px;
          margin-top: -8px;
          background: #29abe1; }
    #tech .explanation article:nth-child(3) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
      #tech .explanation article:nth-child(3) img {
        top: 275px; }
      #tech .explanation article:nth-child(3) div {
        position: absolute;
        right: 0;
        bottom: 0; }
        #tech .explanation article:nth-child(3) div h5 {
          background: #80bc01;
          color: #fff; }
          #tech .explanation article:nth-child(3) div h5:before {
            background: #557d01; }
        #tech .explanation article:nth-child(3) div:before {
          content: "";
          height: 50px;
          width: 50px;
          position: absolute;
          display: block;
          border-left: 2px solid #80bc01;
          border-bottom: 2px solid #80bc01;
          left: -30px;
          top: -17px; }
        #tech .explanation article:nth-child(3) div:after {
          top: -13px;
          left: -30px;
          margin-top: -8px;
          background: #80bc01; }
/*---------------END TECH----------------*/
#lp_sect
{
  margin: 40px 0;
}
.last_projects
{
  display: inline-block;
  width: 950px;
}

.last_projects ul
{
list-style: none;
padding: 0;
text-align: center;
margin: 0;
}

.last_projects ul li
{
  display: inline-block;
  padding: 2px;
}
.list_img img
{
  width: 220px;
  height: 237px;
}
.list_img a
{
    
}

figure {
  width: 220px;
  height: 237px;
  margin: 0 auto;
  padding: 0;  
  text-align: center;  
  position: relative;
  /*border: 1px solid #bbb;*/
}


figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: rgba(29, 189, 239, 0.93);
  opacity: 0;
  line-height: 1;
  transition: opacity .7s;
  cursor: pointer;
  font-size: 32px;
  letter-spacing: 3px;
}
.pink
{
  background: rgba(252, 113, 128, 0.93) !important;
}

figure:hover figcaption {
  opacity: 1;
}
.list_img figcaption b
{
font-size: 14px;
font-weight: normal;
display: inline-block;
} 
.list_img figcaption span
{
  padding: 30px 0;
display: inline-block;
}

#specials
{
  position: relative;
}

#specials .rocket
{

}

#specials .rocket a
{
  position: absolute;
width: 385px;
height: 310px;
display: block;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin-right: auto;
background: url(images/start1.png) no-repeat;
}

#specials .rocket a i
{
background: url(images/start2.png) no-repeat;
width: 290px;
height: 267px;
position: absolute;
display: block;
left: 72px;
top: 31px;
cursor: pointer;
}

#specials .spisok
{
  display: inline-block;
width: 550px;
float: right;
}

#specials .spisok span
{
  color: #fff;
  font-size: 18px;
}

#specials .spisok ul
{
list-style-type: none;
}

#specials .spisok li
{
margin: 10px 0 10px 0;
position: relative;
padding-left: 25px;
}

#specials .spisok li:before
{
  content: '';
  top: 5px;
  left: 0px;
  width: 10px;
height: 10px;
background: #FC7180;
display: inline-block;
border-radius: 20px;
margin-right: 10px;
position: absolute;
}

#certificates
{
  background: url(images/bg_green.png);
  border: 2px dashed #fff;
border-left: none;
border-right: none;
}

/*  -------------------------------------------------
  Стили для печатной версии | Print styles
  ------------------------------------------------- */
@media print {

}



/*  -------------------------------------------------
  Стили блоков, содержимого страниц | Other styles
  ------------------------------------------------- */
.wrapper { /* Обертка страницы */
  width: 955px;
  margin: 0 auto;
}

header {
}

.logo img
{
width: 200px;
margin: 10px 0 10px 0;
}
.section-top {
  position: relative;
  background: url(images/section-pict1.jpg) center 0 no-repeat;
  padding: 58px 0 64px;
}
  .section-top .advantages {
    margin: 0 -25px 112px -22px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px 20px 24px;
  }
  .no-rgba .section-top .advantages { background: url(images/black-bg-transparent50.png) 0 0 repeat;}
    .section-top .advantages h1 {
      text-shadow: 0 2px 0 rgba(0,0,0,0.38);
      color: #FFF;
      margin: 0 0 17px;
    }
    .section-top .advantages ul {
      margin: 0 -10px;
      padding: 0;
      list-style-type: none;
      font-size: 0;
      line-height: 0;
    }
      .section-top .advantages ul li {
        display: inline-block;
        margin: 0 10px;
        border: 3px solid #FFC547;
        color: #FFC547;
        padding: 0 22px;
        height: 85px;
        line-height: 85px;
      }
        .section-top .advantages ul li span {
          vertical-align: middle;
          display: inline-block;
         font: 28px/31px "NeoSans",Tahoma,sans-serif;
        }
  .section-top .accept-orders {
    margin: 0 8px;
    border-radius: 5px;
    padding: 27px 10px 30px;
    background: rgba(0,0,0,0.6);
    text-align: center;
    color: #FFF;
    font-size: 22px;
    line-height: 25px;
  }
  .no-rgba .section-top .accept-orders { background: url(images/black-bg-transparent60.png) 0 0 repeat;}
    .section-top .accept-orders .title {
     font: 28px/31px "NeoSans",Tahoma,sans-serif;
      color: #FFC547;
      text-transform: uppercase;
    }
    .section-top form {
      font-size: 0;
      line-height: 49;
      margin: 20px 0 0;
    }
      .section-top form input {  margin: 5px 11px 0;}
      .section-top form .btn-green {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
        width: 244px;
        height: 47px;
        text-transform: uppercase;
        font: 20px/47px "NeoSans",Tahoma,sans-serif;
        padding: 0;
      }


  .our-advantages {
    background: #FFBF34;
    padding: 50px 0 48px;
  }
    .our-advantages h2 { margin: 0 0 39px; }
    .our-advantages .advantages-list {
      display: table;
      margin: 0 -15px 0 0;
    }
      .our-advantages .advantages-list .item {
        display: table-cell;
        padding: 38px 0 0 50px;
        vertical-align: middle;

      }
      .our-advantages .advantages-list .item:first-child {
        width: 480px;
        padding: 38px 0 0;
      }
        .our-advantages .advantages-list .ico {
          display: inline-block;
          vertical-align: middle;
          width: 76px;
          height: 76px;
          border-radius: 100%;
          overflow: hidden;
        }
        .our-advantages .advantages-list .text {
          display: inline-block;
          vertical-align: middle;
          text-transform: uppercase;
          margin: 0 0 0 10px;
          max-width: 345px;
          font: 24px/27px "NeoSans",Tahoma,sans-serif;
        }
  .customer-care {
    font-size: 18px;
    line-height: 21px;
    padding: 48px 0 65px;
    background: url(images/customer-care-btm-bg.jpg) center bottom no-repeat;
  }
    .customer-care .title {
      text-align: center;
      margin: 0 40px 35px 0;
      font: 34px/37px "NeoSans",Tahoma,sans-serif;
    }
    .customer-care .left {
      float: left;
      position: relative;
      width: 265px;
      margin: 0 0 0 55px;
    }
    .customer-care .center {
      float: left;
      position: relative;
      width: 250px;
      margin: 0 0 0 35px;
    }
    .customer-care .center:after {
      content: '';
      width: 2px;
      height: 27px;
      margin: 0 0 0 -12px;
      left: 50%;
      top: -33px;
      position: absolute;
      background: #C99524;
    }
    .customer-care .right {
      float: right;
      position: relative;
      margin: 0 50px 0 0;
      width: 240px;
    }
    .customer-care .right:after,
    .customer-care .left:after {
      content: '';
      width: 96px;
      height: 34px;
      position: absolute;
      left: 50%;
      top: -39px;
      margin: 0 0 0 -46px;
      background: url(images/customer-care-left.jpg) 0 0 no-repeat;
    }
    .customer-care .right:after {
      left: auto;
      right: 55%;
      background: url(images/customer-care-right.jpg) 0 0 no-repeat;
    }
    .our-advantages .btn-green {
      height: 47px;
      width: 236px;
      text-transform: uppercase;
      font: 20px/47px "NeoSans",Tahoma,sans-serif;
    }

.our-work { padding: 57px 0 76px; }
  .slider-wrap {
    margin: 40px -22px 36px;
    height: 292px;
    position: relative;
  }
  .slider-wrap:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 19px;
    left: 0;
    bottom: -19px;
    /* background: url(images/slide-shadow.png) center 0 no-repeat; */
  }
    .slider-wrap ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
      .slider-wrap ul li { position: absolute; }
      .slider-wrap .bx-prev,
      .slider-wrap .bx-next {
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        overflow: hidden;
        text-indent: -999px;
        top: 50%;
        margin: -35px 0 0 0;
        left: 25px;
        z-index: 100;
        background: url(images/slide-btn.png) 0 0 no-repeat;
      }
      .slider-wrap .bx-prev:hover { background-position:  0 -72px; }
      .slider-wrap .bx-next {
        left: auto;
        right: 25px;
        background-position:  -72px 0;
      }
      .slider-wrap .bx-next:hover { background-position:  -72px -72px; }
  .our-work .still-works {
    width: 746px;
    margin: 0 auto;
    padding: 13px 28px 16px 42px;
    border: 3px solid #E2E2E2;
    font-size: 18px;
    line-height: 21px;
  }
    .our-work .still-works .text {
      float: left;
      width: 465px;
    }
    .our-work .btn-green {
      float: right;
      height: 47px;
      width: 244px;
      text-transform: uppercase;
      font: 20px/47px "NeoSans",Tahoma,sans-serif;
    }
.specialist {
  background: url(images/specialist-bg.jpg) center 0 no-repeat;
  padding: 43px 30px 30px;
}
  .specialist .container {
    margin: 0 -22px 124px;
    position: relative;
    text-align: center;
    padding: 40px 0 0;
    background: rgba(255,255,255,0.93);
    box-shadow: 0 0 18px rgba(0,0,0,0.23);
  }
  .no-rgba .specialist .container {
    background: url(images/bg-write-transparent90.png) 0 0 repeat;
  }
  .specialist .container:after {
    content: '';
    width: 100%;
    height: 52px;
    position: absolute;
    left: 0;
    bottom: -52px;
    background: url(images/specialist-container-btm-bg.png) center 0 no-repeat;
  }
    .specialist .container h2 {
      color: #a53030;
      margin: 0 0 27px;
    }
    .specialist .container .desc {
      font: 24px/27px "NeoSans",Tahoma,sans-serif;
    }
    .specialist form {
      position: relative;
      margin: 44px 0 0;
      padding: 0 0 20px;
      text-align: center;
    }
       .specialist form input {
        height: 45px;
        line-height: 33px;
        margin: 0 7px;
       }
      .specialist form .btn-green-wrap {
        width: 262px;
        position: absolute;
        background: rgba(255,255,255,0.7);
        left: 50%;
        margin: 0 0 0 -131px;
        bottom: -123px;
      }
         .specialist form .btn-green {
            height: 47px;
            width: 244px;
            text-transform: uppercase;
            font: 20px/47px "NeoSans",Tahoma,sans-serif;
         }

.work-stages { padding: 50px 0 50px; }
  .work-stages h2 { margin: 0 0 48px; }
  .work-stages .left {
    float: left;
    position: relative;
    margin: 0 0 0 -2px;
    border-right: 2px solid #9D3A3A;
    width: 457.5px;
    padding: 0 0 0 20px;
  }
  .work-stages .right {
    float: right;
    position: relative;
    padding: 88px 0 0 64px;
    margin: 0 0 0 -2px;
    border-left: 2px solid #9D3A3A;
    width: 413.5px;
  }
  .work-stages .item {
    position: relative;
  }
  .work-stages .right:after,
  .work-stages .left:after {
    content: '';
    width: 2px;
    height: 70px;
    position: absolute;
    bottom: 0;
    right: -2px;
    background: #FFF;
  }
  .work-stages .right:after { right: auto; left: -2px; }
  .work-stages .left .item { margin: 0 0 70px; }
  .work-stages .left .item:first-child { margin: -1px 0 64px; }
  .work-stages .right .item { margin: 89px 0 0; }
  .work-stages .right .item:first-child { margin: 0 0 100px; }
  .work-stages .item:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 414px;
    height: 22px;
    left: -11px;
    bottom: -19px;
    background: url(images/work-stages-item-shadow.png) center 0 no-repeat;
  }
    .work-stages .item .inner {
      position: relative;
      z-index: 2;
      border-radius: 5px;
      background: #FFC547;
      padding: 13px 20px 20px;
      width: 360px;
      font-size: 16px;
      line-height: 19px;
    }
      .work-stages .item .title {
        font: 24px/27px "NeoSans",Tahoma,sans-serif;
        text-transform: uppercase;
        margin: 0 0 6px;
        color: #612626;
      }
     .work-stages .item p { margin: 6px 0 0; }
      .work-stages .number {
        width: 72px;
        height: 72px;
        position: absolute;
        z-index: 2;
        right: -36px;
        top: 1px;
        background: url(images/work-stages-disck.png) 0 0 no-repeat;
        text-align: center;
        color: #FFF;
        text-shadow: 0 2px 0 rgba(0,0,0,0.27);
        font: normal normal 48px/72px 'metaboldlfcregular', Tahoma, sans-serif;
      }
      .work-stages .number:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border: 10px solid transparent;
        border-left: 18px solid #FFC547;
        top: 50%;
        margin: -10px 0 0;
        left: -22px;
      }
      .work-stages .right .number {
        right: auto;
        left: -100px
      }
      .work-stages .right .number:after {
        left: auto;
        right: -28px;
        border-left: 0;
        border-right: 18px solid #FFC547;
      }

.attention-dilletante {
  padding: 33px 0 0;
  height: 600px;
  background: url(images/attention-dilletante-bg.jpg) center 0 no-repeat;
}
  .attention-dilletante h2 {
    width: 628px;
    height: 72px;
    margin: 0 auto;
    color: #FFF;
    background: #9D1A1A;
    line-height: 72px;
  }
  .attention-dilletante .desc {
    margin: 65px 0 0 20px;
    width: 435px;
    font: normal normal 22px/26px 'metamediumlfcregular', Tahoma, sans-serif;
  }
    .attention-dilletante .desc p {
      color: #9d1a1a;
      margin: 22px 0;
      font: normal normal 18px/21px 'NeoSans', Tahoma, sans-serif;
    }
    .attention-dilletante .footnote {
      margin: 30px 0 0;
      font: normal normal 24px/26px 'metamediumlfcregular', Tahoma, sans-serif;
    }

.hurry-order {
  background: url(images/hurry-order-bg.jpg) center 0 no-repeat;
  padding: 74px 0 98px;
}
  .hurry-order h2 {
    color: #FFF;
    font-size: 48px;
    line-height: 60px;
    color: #FFF;
    margin: 0 0 90px;
  }
  .hurry-order .left {
    width: 435px;
    margin: 0 0 0 80px;
    float: left;
  }
    .hurry-order .desc {
      padding: 10px 5px 18px 15px;
      border: 3px solid #FEC547;
      color: #FFF;
      text-shadow: 0 2px 2px rgba(0,0,0,0.38);
      font-size: 20px;
      line-height: 23px;
    }
      .hurry-order .desc .title {
        font: normal normal 24px/26px 'metaboldlfcregular', Tahoma, sans-serif;
        text-transform: uppercase;
      }
      .hurry-order .get-quote {
        margin: 48px 0 0;
        width: 419px;
        height: 89px;
        text-align: center;
        padding: 15px 20px 0 0;
        text-shadow: 0 2px 2px rgba(255,236,196,0.38);
        background: url(images/get-quote.png) 0 0 no-repeat;
        font: normal normal 32px/35px 'metablacklfcregular', Tahoma, sans-serif;
      }
  .hurry-order .right {
    width: 390px;
    float: right;
  }
    .hurry-order form {
      width: 245px;
      padding: 45px 23px 32px;
      border-radius: 5px;
      background: rgba(255,255,255,0.5);
    }
    .no-rgba .hurry-order form { background: url(images/bg-write-transparent50.png) 0 0 repeat; }
      .hurry-order form input { margin: 0 0 23px; }
      .hurry-order form .btn-green {
          height: 47px;
          width: 245px;
          text-transform: uppercase;
          font: 20px/47px "NeoSans",Tahoma,sans-serif;
        }

footer {
  color: #000;
}
  footer .logo {
    float: left;
    margin: 8px 28px 0 0;
  }
  footer .descript {
    float: left;
    font: normal normal 15px/17px 'metamediumlfcregular', Tahoma, sans-serif;
  }
  footer .btn-green { float: right; margin: 3px 0 0;}
  footer .phone {
    float: right;
    margin: 7px 20px 0 0;
    font: normal normal 22px/25px 'metaboldlfcregular', Tahoma, sans-serif;
  }

.popup {
  display: none;
  position: absolute;
  background: #FFF;
  border-radius: 5px;
  padding: 31px 33px 37px;
  width: 245px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  z-index: 101;
}
  .popup .close {
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(images/close.gif) 0 0 no-repeat;
    top: 9px;
    right: 11px;
  }
  .popup .close:hover { background-position: 0 -16px; }
  .popup .title {
    font: normal normal 20px/24px 'NeoSans', Tahoma, sans-serif;
    margin: 0 0 32px;
  }
  .popup form input {
    height: 42px;
    line-height: 30px;
    margin: 0 0 23px;
  }
  .popup form .btn-green {
    margin: 8px 0 0;
    height: 47px;
    text-transform: uppercase;
    font: 20px/47px "NeoSans",Tahoma,sans-serif;
  }
  .popup-report .title {
    margin: 0 0 20px;
    color: #FF0000;
    font: normal normal 20px/24px "metaboldlfcregular", Tahoma, sans-serif;
  }
